        
/* .half-ellipse1 { border-radius: 50% / 100% 100% 0 0; }
.half-ellipse2 { border-radius: 50% / 0 0 100% 100%; }
.half-ellipse3 { border-radius: 100% 0 0 100% / 50%; }
.half-ellipse4 { border-radius: 0 100% 100% 0 / 50%; }

.half-ellipse {
  background: #32557f;
  width: 150px;
  height: 75px;
} */
    
*{
    margin: 0px;
    padding: 0px;
}

/* nav related style */

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: darksalmon;   

}

.logo-img{
    width: 50px;
    border-radius: 50%;
    padding-top: 10px;
    padding-bottom: 5px;
    
}

.nav-menu{
    display: flex;
    list-style: none;
    /* justify-content: space-around; */
    align-items: center;
    gap: 10px;
    text-decoration: none;
}
.menu{
    /* margin-right: 10px;
    padding: 7px;
    font-size: 20px;
    cursor: pointer; */
    list-style: none;
    padding: 10px;
    font-size: 20px;
    

    
}
.menu a{
    text-decoration: none;
    color: black;
}
.menu a:hover{
    color: rgb(105, 130, 255);
}

/* banner related style starts here */
.lotus-img{
    width: 200px;
    height: 300px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(145, 91, 131);
    height: 80vh;
    
    
}
.banner-title{
    font-size: 40px;
    font-weight: bold;
    color: aliceblue;
    padding: 15px;
    /* padding-left: 10px; */
}
.banner-desc{
    padding: 10px;
    color: aliceblue;
}
.btn{
    padding: 12px;
    background-color: rgb(165, 42, 52);
    color: aliceblue;
    padding-left: 5px;
}
  
/* service related style */

.service-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(146, 163, 177);
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 20vh;

}
.service-img{
    width: 70px;
    height: 70px;
    padding: 5px;
    
}
.service-desc{
    
    padding: 5px;
    

}
.service-item{
    
    text-align: center;
}

/* sign related style */
.sign_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: darksalmon;
      

}
.sign-title{
    font-size: 30px;
    font-weight: bold;
    color: black;
    padding: 15px;

}
.rose-img{
    width: 200px;
    height: 300px;
}
.sign-desc{
    padding: 10px;
    color: black;
    text-align: center;

}
.sign-info{
    text-align: center;
}

/* insta related style */

.insta-card{
    display: flex;
    align-items: center;
    margin-left: 20%;
    padding-top: 20px;
}
.insta-card:hover{
    color: brown;
}
.insta-container{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;


}
.insta-img{
    height: 200px;
    width: 200px;
    padding: 10px;
    
    
}
.insta-img:hover{
    color: brown;
}
.insta-title{
    font-size: 30px;
    font-weight: bold;
    padding: 10px;

}
.insta-desc{
    padding: 15px;
}
